<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group center field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group center field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <% if !logged_in? || current_user.is_admin? %>
  <div class="form-group center field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
    <div class="form-group center field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </div>
  <%end%>

  <% if params[:role] == 'admin' %>
        <%= f.hidden_field :is_admin, :value => true %>
        <%= f.hidden_field :is_student, :value => false %>
        <%= f.hidden_field :is_instructor, :value => false %>
  <% end %>
  <% if params[:role] == 'student' %>
      <%= f.hidden_field :is_admin, :value => false %>
      <%= f.hidden_field :is_student, :value => true %>
      <%= f.hidden_field :is_instructor, :value => false %>
  <% end %>
  <% if params[:role] == 'instructor' %>
      <%= f.hidden_field :is_admin, :value => false %>
      <%= f.hidden_field :is_student, :value => false %>
      <%= f.hidden_field :is_instructor, :value => true %>
  <% end %>
    <br>
  <div class="form-group center actions">
    <%= f.submit %>
  </div>
<% end %>