<%
  if params[:role] == 'admin'
    user_list = User.where('is_admin = ?', 't')
  elsif params[:role] == 'instructor'
    user_list = User.where('is_instructor = ?', 't')
  elsif params[:role] == 'student'
    user_list = User.where('is_student = ?', 't')
  else
    user_list = @users
  end%>

<%if params[:role] %>
    <h1>Listing <%=params[:role]%>s</h1>
<% else %>
    <h1>Listing all users</h1>
<% end %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>


    <% user_list.each do |user| %>
      <tr>
        <td><%=link_to user.name, user %></td>
        <td><%= user.email %></td>
        <% if user.is_student? %>
            <% role = 'Student' %>
        <% elsif user.is_instructor? %>
            <% role = 'Instructor' %>
        <% else %>
            <% role = 'Admin' %>
        <% end %>
        <td><%= role %></td>
        <td><%= link_to 'Profile', user, class: 'btn btn-info btn-sm' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-warning btn-sm' %></td>
        <% if ((current_user.is_a? Admin) && current_user != user) && user.email != 'admin@admin.com' %>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
        <% end %>
        <% if (current_user.is_a? Admin) && (!user.is_a? Admin) %>
          <td><%=link_to 'Enroll', new_enrollment_path(user: user.id), class: 'btn btn-primary btn-sm' %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: 'btn btn-default pull-right' %>
