<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Is student:</strong>
  <%= @user.is_student %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>Is instructor:</strong>
  <%= @user.is_instructor %>
</p>

<% if current_user == @user || current_user.is_admin? %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
<br>
<%= link_to 'Back', users_path %>
