<p id="notice"><%= notice %></p>

<h1 class="center"><%= @user.name%></h1>
<h3 class="center"><%=@user.email%></h3>

<% if @user.is_student? %>
    <h4 class="center">Student</h4>
<%end%>
<% if @user.is_instructor? %>
    <h4 class="center">Instructor</h4>
<%end%>
<% if @user.is_admin? %>
    <h4 class="center">Admin</h4>
<%end%>

<br><br>

<% if !@user.is_admin? %>
    <h3 class="center">Course History</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Number</th>
        <th>Title</th>
        <th>Status</th>
        <th>Grade</th>
      </tr>
      </thead>

      <tbody>
      <% @user.enrollments.each do |enrollment| %>
          <tr>
            <% course = Course.find_by(id: enrollment.course_id)%>
            <td><%=course.course_number%></td>
            <td><%=course.title%></td>
            <td><%=course.status%></td>
            <td><%=enrollment.grade%></td>
          </tr>
      <%end%>
      </tbody>
    </table>
<%end%>

<% if current_user == @user || current_user.is_admin? %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
<br>
<%= link_to 'Back', users_path %>
