<div class="center jumbotron">

  <%if logged_in?  %>
      <h1>Welcome <%=current_user.name%></h1>
      <ul>
        <li><%=link_to'Profile', user_path(@current_user)%></li>
    <%if is_admin?(current_user) %>
         <li><%= link_to 'Add Admin', new_user_path(role: 'admin') %></li>
          <li><%= link_to 'Add Instructor', new_user_path(role: 'instructor') %></li>
          <li><%= link_to 'View Users', users_path %></li>
          <li><%= link_to 'Add Course', new_course_path%></li>
          <li><%= link_to 'View Courses', courses_path%></li>
          <li><%= link_to 'View Enrollments', enrollments_path%></li>

      <%end %>
      <%if is_instructor?(current_user) %>
          <li><%= link_to 'View Courses', courses_path %></li>

      <%end%>
      <%if is_student?(current_user) %>
        <li><%= link_to 'Search Courses', courses_path %></li>

      <%end %>
      </ul>
  <%else%>
    <h1>Welcome to the app!</h1>
    <h2>
      This is the home page for the Course Portal Application
    </h2>
    <%= link_to 'Sign Up', new_user_path(role: 'student'), class: 'btn btn-lg btn-primary' %>
  <%end%>

</div>