<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group center field">
      <%= f.label :course_number %><br>
      <%= f.text_field :course_number %>
    </div>
    <div class="form-group center field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="form-group center field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="form-group center field">
      <%= f.label :start_date %><br>
      <%= f.text_field :start_date %>
    </div>
    <div class="form-group center field">
      <%= f.label :end_date %><br>
      <%= f.text_field :end_date %>
    </div>
    <div class="form-group center field">
      <%= f.label :status %><br>
      <%= f.text_field :status %>
    </div>
    <div class="form-group center field">
        <%= f.label :instructor %>
        <%= select_tag :instructor, options_from_collection_for_select(User.where('is_instructor = ?', 't'), 'id', 'name')%>
    </div>

  <div class="form-group center actions">
    <%= f.submit %>
  </div>
<% end %>
