<p id="notice"><%= notice %></p>

<p>
  <strong>Course Number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @course.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>

<h3 class="center">Course Instructors</h3>
<table class="table">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <% @course.enrollments.each do |enrollment| %>
      <% if !enrollment.deny %>
          <% user = User.find_by(id: enrollment.user_id)%>
          <% if user.is_instructor? %>
            <tr>
              <td><%=user.name%></td>
              <%if current_user.is_admin? && enrollment.multiple_instructors?%>
                <td><%= link_to 'Remove', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <%end%>
            </tr>
          <%end%>
      <%end%>
  <%end%>
  </tbody>
</table>

<% if !current_user.is_student? %>
    <h3 class="center">Course Participants</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Approval</th>
        <th>Grade</th>
      </tr>
      </thead>

      <tbody>
      <% @course.enrollments.each do |enrollment| %>
          <% if !enrollment.deny %>
              <% user = User.find_by(id: enrollment.user_id)%>
              <% if user.is_student? %>
              <tr>
                <td><%= link_to user.name, user %></td>
                <% if enrollment.approve %>
                    <td>Accepted</td>
                <% else %>
                    <td>
                      <%= form_for(enrollment) do |f| %>
                          <%= f.hidden_field :approve, :value => true %>
                          <%= f.hidden_field :deny, :value => false %>
                        <div class="actions" style="display: inline">
                          <%= f.submit :Approve %>
                        </div>
                          <%= f.hidden_field :approve, :value => false %>
                          <%= f.hidden_field :deny, :value => true %>
                        <div class="actions" style="display: inline">
                          <%= f.submit :Deny %>
                        </div>
                      <%end%>
                    </td>
                <%end%>
                <td><%=enrollment.grade%></td>
                <td><%= link_to 'Remove', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <%end%>
          <%end%>
      <%end%>
      </tbody>
    </table>
<%end%>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
