<p id="notice"><%= notice %></p>

<p>
  <strong>Course Number:</strong>
  <%= @course.course_number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @course.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>

<% if !current_user.is_student? %>
    <h3 class="center">Course Participants</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Approval</th>
        <th>Grade</th>
      </tr>
      </thead>

      <tbody>
      <% @course.enrollments.each do |enrollment| %>
          <% if !enrollment.deny %>
              <tr>
                <% user = User.find_by(id: enrollment.user_id)%>
                <td><%=user.name%></td>
                <% if enrollment.approve %>
                    <td>Accepted</td>
                <% else %>
                  <td>
                    <%= form_for(enrollment) do |f| %>
                    <%= f.hidden_field :approve, :value => true %>
                    <div class="actions">
                    <%= f.submit %>
                    </div>
                  </td>
                    <%end%>
                <%end%>
                <td><%=enrollment.grade%></td>

                <td><%= link_to 'Remove', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <%end%>
      <%end%>
      </tbody>
    </table>
<%end%>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
