<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category, class: 'form-control' %>
  </div>
    <%= f.hidden_field :course_id, :value => params[:course]%>
  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-primary pull-right' %>
  </div>
<% end %>
